body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

* {
    box-sizing: border-box; /* Garante o cálculo correto de largura e altura */
}

.calendar-page {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #d8e0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-wrapper {
    display: flex;
    width: 70%;
    height: 70%; /* Altura ajustada para sobrar espaço */
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}
